html {
    box-sizing: border-box;
    height: 100%
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    min-height: 100%;
}

.logo{
    font-size: 1.8rem;
    margin-right: 25px;
}

.separe{
    margin-right: auto;
}

.color-sup{
   color: #E5992C
}

.titulo{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 7rem;
    color: #481717;
}

.negrita{
    font-weight: bold;
    text-align: center;
}

.grid-container{
    gap: 14px ;
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}



footer{
    background-color: #481717;
}

.cole{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
}

.miniNav ul a{
    text-decoration: none;
    color: white;
    margin-right: 25px;
}

.miniNav p{
    color: white;
    margin-left: 32px;
}


