:root {
    --white: #fff;
    --orange: #f73600;
    --orange-dark: #cc2b2b;
    --vinotinto: #310101;
}

html {
    box-sizing: border-box;
    height: 100%
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    min-height: 100%;
}



/* --- Header --- */
/* Navbar Section */
.nav-main > .wrapper {
    padding: 0;
    margin-top: 0;
    background-color: #000;
}

.nav-main--links a:hover {
    background-color: #867f6c;
    transform: translateY(-5px);
    transition: all 0.3s linear;
}

.nav-main--form input {
    min-width: 190px;
    font-size: 14px;
}

.nav-main--form button {
    border: none;
    border-radius: 8px;
    background-color: var(--orange);
}
.nav-main--form button:hover {
    background-color: var(--orange-dark);
}


.logo{
    font-size: 1.8rem;
    margin-right: 25px;
}

.separe{
    margin-right: auto;
}

.color-sup{
   color: #E5992C
}

.titulo{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 7vh;
    color: #481717;
}

.negrita{
    font-weight: bold;
    text-align: center; 
}

.grid-container{
    gap: 14px ;
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 700px));
    justify-content: center;
    align-items: center;
}

.grid-container .our {
    padding: 20px;
}

.grid-container .histori{
    margin-top: 48px;
}

.grid-container-card{
    color: white;
    gap: 14px ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    background-color: #C6BA9E;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 #3337;
}

.grid-container img{
    align-self: center;
    justify-self: center;
    display: block;
    max-width: 100%;
    height: auto;
    box-shadow: 0 5px 10px #3337;
    border-radius: 5px;
}


.header{
    text-align: center;    
}

.header img{
    margin-top: 20px;
    border-radius: 100%;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, .06);
    width:200px;
    height:200px;  
}

.header h5{
    font-family: 'Oswald', sans-serif;
    color:#4A3F26;
    font-weight: bold;
}

hr{
    background-color: #4A3F26;
    margin: 0 60px;
}

.header p{
    font-family: 'Oswald', sans-serif;
    color:#4A3F26;
}

.wrapper, 
.wrapper-testimonials {
    width: 100%;
    margin-top: 100px;
    background: #fff;
    padding: 30px 0;
}

.slider-testimonial{
    width: 85%;
    max-width: 1400px;
    margin: auto;
}

.testimonial-client{
    margin-bottom: 15px;
}

.testimonial-client img{
    width: 120px;
    margin:auto;
    border-radius: 50%;

}

.client-name{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
}

.testimonial-text{
    padding: 10px 12px;
}

.testimonial-text p{
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: #454545;
}


.miniNav ul a{
    text-decoration: none;
    color: white;
    margin-right: 25px;
}

.miniNav p{
    color: white;
    margin-left: 32px;
}



/* --- Footer --- */
.footer-section {
    background-color: var(--vinotinto);
    color: var(--white);
}

.footer-section .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    padding: 40px 20px;
    margin: 0 auto;
    background-color: var(--vinotinto);
}

.wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
}

.footer-section a { text-decoration: none; }


.footer-section ul {
    padding-left: 0;
    list-style: none;
}

.footer-section--logo,
.footer-section--map {
    display: none;
    max-width: 180px;
}

.footer-credentials {
    width: 100%;
    max-width: 700px;
}

.footer-credentials--nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-credentials--nav a {
    padding-bottom: 5px;
    color: var(--white);
}
.footer-credentials--nav a:hover {
    border-bottom: 1px solid var(--white);
}

.footer-credentials--data {
    font-size: 14px;
}
.footer-credentials--data .copyright {
    margin-bottom: 0;
}


/* --- Floating --- */
/* Float Button: Social Media */
#btn-mas{
    display: none;
}

#container{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.redes a, .btn-mas label{
    display: block;
    text-decoration: none;
    background: var(--orange-dark);
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
}
.redes a:hover{
    background: #fff;
    color: var(--orange-dark);
}
.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.btn-mas label{
    cursor: pointer;
    background: var(--orange);
    font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label{
    transform: rotate(135deg);
    font-size: 25px;
}


/* --- Media Queries --- */
@media (min-width: 410px) {
    /* Footer Section */
    .footer-section--logo {
        display: block;
        width: 50%;
        margin-right: 3%;
    }
}

@media (min-width: 700px) {
    /* Footer Section */
    .footer-section--logo,
    .footer-section--map {
        width: 100%;
    }
    .footer-section--map {
        display: block;
        margin-left: 3%;
    }
}

@media (min-width: 1200px) {
    .wrapper,
    .footer-section .wrapper {
        max-width: 80%;
    }
}