@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

:root {
    --main-color: #fff;
    --bg-button: #f73600;
    --bg-footer: #310101;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.6rem;
    background-color: var(--main-color);
}

.wrapper {
    max-width: 95%;
    margin: 0 auto;
    padding: 40px 20px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a { text-decoration: none; }


/* --- Header --- */
/* Navbar Section */
.nav-main > .wrapper {
    padding: 0;
}

.nav-main--links a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    transition: all 0.3s linear;
}

.nav-main--form input {
    min-width: 190px;
    font-size: 1.4rem;
}

.nav-main--form button {
    border: none;
    border-radius: 8px;
    background-color: var(--bg-button);
}
.nav-main--form button:hover {
    background-color: #E7360A;
}


/* --- Main --- */
/* Slider Section */
.carousel-inner .carousel-item > img {
    object-fit: cover;
    height: 60vh;
    width: 100%;
}

.carousel-indicators [data-bs-target] {
    width: 50px;
}

.carousel-indicators .active {
    background-color: var(--bs-orange);
}

.carousel-caption {
    top: 10%;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
}

.carousel-caption img {
    max-width: 270px;
    margin: 0 auto;
}

.carousel-caption p {
    max-width: 95%;
    margin: 40px auto 0;
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
}

.slide-section--button__toggle {
    opacity: 1;
}


/* Our Proposal Section */
.ourProposal-section {
    width: 100%;
    min-height: 700px;
    text-align: center;
    background-image: url("https://i.postimg.cc/4dyHwZBL/foto2-2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--main-color);
}

.ourProposal-section--title,
.events-section--title {
    margin: 20px auto 40px;
    font-size: 2.4rem;
    font-weight: bold;
}

.ourProposal-section--text {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 1.7;
    text-align: justify;
}


/* Recommendations Section */
.recommendations-section {
    width: 100%;
    min-height: 600px;
}

.recommendations-section h2 {
    margin: 20px auto 40px;
    font-size: 2.4rem;
    font-weight: 700;
    color: #631104;
}

.trending-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 10px 20px;
    place-items: center;
}

.plate-image {
    position: relative;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
    transition: transform 0.4s ease-in-out;
    overflow: hidden;
}

.plate-image:hover {
    transform: scale(1.05) translateY(-8px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.plate-details {
    position: absolute;
    top: 80%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    transition: top 0.6s ease-out 0.05s;
}

.plate-image:hover .plate-details {
    top: 0;
}

.plate-name {
    font-size: 2rem;
    color: var(--main-color);
}

.plate-description {
    padding-top: 5px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #e3e3e3;
}

.menu-link img {
    display: none;
}
.menu-link a {
    margin-top: 20px;
    font-size: 1.6rem;
    background-color: var(--bg-button);
    color: #fff;
}


/* Events Section */
.events-section {
    background-image: url("https://i.postimg.cc/gJ7XT57Y/foto3-2x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--main-color);
}

.wrapper-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 320px));
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin-top: 70px;
}
.card {
    width: 320px;
    height: auto;
    padding-bottom: 15px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    text-align: center;
}

.card header img {
    object-fit: contain;
    width: 100%;
    height: 180px;
}
.card--title {
    padding: 10px 0 0;
    font-size: 2.4rem;
    font-weight: bold;
}

.card-details {
    width: 100%;
    padding: 10px 15px;
    font-size: 1.4rem;
    text-align: justify;
}

.card footer {
    padding: 10px;
}

.icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 7px;
    font-size: 2.4rem;
    color: var(--main-color);
    opacity: .7;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 50%;
    transition: color 0.5s ease-out;
}
.icon:hover {
    opacity: 1;
    color: var(--bs-orange);
}


/* --- Aside --- */
/* Float Button: Social Media */
#btn-mas{
    display: none;
}

#container{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.redes a, .btn-mas label{
    display: block;
    text-decoration: none;
    background: #cc2b2b;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
}
.redes a:hover{
    background: #fff;
    color: #cc2b2b;
}
.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.btn-mas label{
    cursor: pointer;
    background: var(--bg-button);
    font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label{
    transform: rotate(135deg);
    font-size: 25px;
}




/* --- Media Queries --- */
@media (min-width: 410px) {
    .plate-details {
        top: 85%;
        padding-top: 5px;
    }
    .plate-image:hover .plate-details{
        padding-top: 15px;
    }
    .plate-name {
        font-size: 2.2rem;
    }
    .plate-description {
        font-size: 1.4rem;
        letter-spacing: 0.01em;
    }
}

@media (min-width: 510px) {
    .carousel-caption img {
        max-width: 320px;
    }
    .ourProposal-section--wrapper {
        max-width: 80%;
    }

    .plate-details {
        top: 87%;
    }
    .plate-name {
        font-size: 2.4rem;
    }
    .plate-description {
        font-size: 1.6rem;
    }
}

@media (min-width: 653px) {
    .plate-details {
        top: 85%;
    }
    .plate-name {
        font-size: 2rem;
    }
    .plate-description {
        font-size: 1.2rem;
    }
}

@media (min-width: 700px) {
    .carousel-caption p {
        margin: 20px auto 0;
    }
    .ourProposal-section--title,
    .carousel-caption p,
    .events-section--title {
        font-size: 3.3rem;
    }
    .recommendations-section h2 {
        font-size: 2.8rem;
    }
}

@media (min-width: 1020px) {
    .carousel-caption img {
        max-width: 380px;
    }

    .ourProposal-section--title,
    .carousel-caption p,
    .events-section--title {
        font-size: 4.4rem;
    }
    .carousel-caption p {
        margin: 0;
    }

    .ourProposal-section--wrapper {
        max-width: 60%;
    }

    .trending-products {
        flex-direction: row;
    }
    .products,
    .menu-link {
        flex: 1;
    }
    .products {
        grid-template-columns: repeat(2, minmax(280px, 1fr));
    }
    .menu-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
    }
    .menu-link img {
        display: block;
        height: 420px;
    }

}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 80%;
    }

    .trending-products {
        margin-left: 5%;
    }
    .menu-link img {
        height: auto;
        max-height: 500px;
    }
}

