@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('http://fonts.cdnfonts.com/css/blackadder-itc');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 1000px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #ede7f6;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    background: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
}

header.sticky{
    height: 80px;
}

header .banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

header.sticky .banner{
    opacity: 0.5;
}

header .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9vw;
    color: rgb(10, 176, 69);
    font-weight: 700;
    transition: 1s;
    text-decoration: none;
    z-index: 1;
}

header.sticky .logo{
    position: absolute;
    font-size: 2em;
    left: 100px;
    color: #fff;
    transform: translate(0, -50%);
}

nav{
    position: relative;
    display: flex;
    z-index: 1;
}

nav ul{
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    opacity: 0;
}

header.sticky nav ul{
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.75s;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    text-decoration: none;
}

nav ul li a:hover{
    color: #ff275f;
}

.title{
    font-weight: 600;
    font-size: 90px;
    text-align: center;
}

section{
    margin-top: 40vh;
    padding: 100px;
}

section h2{
    font-size: 5em;
}

section p{
    font-size: 1.2em;
}

section .container{
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}

.card{
    position: static;
    width: 15rem; 
    height: 19em; 
    padding-top: 15px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contImg{
    width: 100%; 
    overflow: hidden; 
    border-radius: 15px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

/* Ventana modal */
.containerModal{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    height: 76vh;
    background: #fff;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #c44a4a;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.modal-close{
    transform: translateY(-200%);
}

.form{
    margin: auto;
    background-color: #fff;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}

.botonM {
    border-radius: 300px;
    border: 1px solid;
    background: currentColor;
    text-align: center;
    width: 50px;
    height: 30px;
}

.contImgP{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgP{
    width: 100%;    
    margin-top: 10px;
}

#btn-mas{
    display: none;
}

#container{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.redes a, .btn-mas label{
    display: block;
    text-decoration: none;
    background: #cc2b2b;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
}

.redes a:hover{
    background: #fff;
    color: #cc2b2b;
}

.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}

#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}

.btn-mas label{
    cursor: pointer;
    background: #f44141;
    font-size: 23px;
}

#btn-mas:checked ~ .btn-mas label{
    transform: rotate(135deg);
    font-size: 25px;
}

.contButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
}

.addCarrito {
    border: 1px solid blue;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    width: 50px;
}

/* Generals Styles */
:root {
    --white: #fff;
    --orange: #f73600;
    --orange-dark: #cc2b2b;
    --vinotinto: #310101;
}


footer {
    width: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
    box-sizing: inherit;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.6rem;
    background-color: var(--white);
}

footer .wrapper {
    max-width: 95%;
    margin: 0 auto;
    padding: 40px 20px;
}

footer img {
    display: block;
    max-width: 100%;
    height: auto;
}

footer a { 
    text-decoration: none; 
}

/* --- Footer --- */
.footer-section {
    background-color: var(--vinotinto);
    color: var(--white);
}

.footer-section .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-section ul {
    padding-left: 0;
    list-style: none;
}

.footer-section--logo,
 .footer-section--map {
    display: none;
    max-width: 180px;
}

.footer-credentials {
    width: 100%;
    max-width: 700px;
}

.footer-credentials--nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-credentials--nav a {
    padding-bottom: 5px;
    color: var(--white);
}

.footer-credentials--nav a:hover {
    border-bottom: 1px solid var(--white);
}

.footer-credentials--data {
    font-size: 1.4rem;
}

.footer-credentials--data .copyright {
    margin-bottom: 0;
}


/* --- Media Queries --- */
@media (min-width: 410px) {
    /* Footer Section */
    .footer-section--logo {
        display: block;
        width: 50%;
        margin-right: 3%;
    }
}

@media (min-width: 700px) {
    /* Footer Section */
    .footer-section--logo,
    .footer-section--map {
        width: 100%;
    }
    .footer-section--map {
        display: block;
        margin-left: 3%;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 80%;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 80%;
    }
}

/* Responsive */
@media (max-width: 991px){
    section, 
    header{
        padding: 40px;
    }

    section h2{
        font-size: 4em;
    }

    header.sticky .logo{
        left: 40px;
    }

    header.sticky .banner{
        opacity: 0;
    }

    nav ul{
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    nav.active ul{
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header.sticky nav ul{
        opacity: 1;
        visibility: visible;
    }

    nav ul li a{
        font-size: 1.5em;
        padding: 5px 15px;
    }

    header.sticky .toggle{
        position: fixed;
        top: 15px;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: #fff url(https://i.postimg.cc/kMxf2FcM/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .toggle.active{
        cursor: pointer;
        background: #fff url(https://i.postimg.cc/SK3DMg3R/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    footer {
        padding: 40px;
        font-size: 1em;
    }

    footer .wrapper{
        flex-direction: column;
    }
}

