@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');



/* Generals Styles */
:root {
    --white: #fff;
    --orange: #f73600;
    --orange-dark: #cc2b2b;
    --vinotinto: #310101;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 1000px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #ede7f6;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    background: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
}

header.sticky{
    height: 70px;
}

header.sticky .banner{
    opacity: 0.5;
}

header .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9vw;
    color: rgb(10, 176, 69);
    font-weight: 700;
    transition: 1s;
    text-decoration: none;
    z-index: 1;
}

header.sticky .logo{
    position: absolute;
    font-size: 2em;
    left: 100px;
    color: #fff;
    transform: translate(0, -50%);
}

nav{
    position: relative;
    display: flex;
    z-index: 1;
}

nav ul{
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    opacity: 0;
}

header.sticky nav ul{
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.75s;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    text-decoration: none;
}

nav ul li a:hover{
    color: #ff275f;
}


section{
    margin-top: 10vh;
    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo{
    font-weight: 100;
    text-align: center;
}

/***/
.bottonComprar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.bottonComprar .chat-button {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    text-decoration: none;
    color: white;
    background: blueviolet;
    width: 100px;
    text-align: center;
}

/* Ventana modal */
.containerModal{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    height: 65vh;
    background: #fff;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #c44a4a;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.modal-close{
    transform: translateY(-200%);
}

.form{
    margin: auto;
    background-color: #fff;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}

.form_container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form_titulo{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}

.form_input{
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
}

.form_input--message{
    resize: none;
    padding: 1.8 1em;
    margin-bottom: .5em;
}

.enviar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form_cta{
    font-family: inherit;
    background-color: #889FE0;
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 400;
    width: 50%;
}

.logo{
    font-size: 1.8rem;
    margin-right: 25px;
}

.separe{
    margin-right: auto;
}

.color-sup{
   color: #E5992C
}

.titulo{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 7rem;
    color: #481717;
}

.negrita{
    font-weight: bold;
    text-align: center;
}

.grid-container{
    gap: 14px ;
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

/* menu */
.card img{
    width: 250px;
    height:200px;
    margin-right: 25px;
}


.op input{
    width: 50px;
}

.op button{
    background-color: transparent;

}

/* footer */
footer {
    width: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
    box-sizing: inherit;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.6rem;
    background-color: var(--white);
}

footer .wrapper {
    max-width: 95%;
    margin: 0 auto;
    padding: 40px 20px;
}

footer img {
    display: block;
    max-width: 100%;
    height: auto;
}

footer a { 
    text-decoration: none; 
}

/* --- Footer --- */
.footer-section {
    background-color: var(--vinotinto);
    color: var(--white);
}

.footer-section .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-section ul {
    padding-left: 0;
    list-style: none;
}

.footer-section--logo,
 .footer-section--map {
    display: none;
    max-width: 180px;
}

.footer-credentials {
    width: 100%;
    max-width: 700px;
}

.footer-credentials--nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-credentials--nav a {
    padding-bottom: 5px;
    color: var(--white);
}

.footer-credentials--nav a:hover {
    border-bottom: 1px solid var(--white);
}

.footer-credentials--data {
    font-size: 1.4rem;
}

.footer-credentials--data .copyright {
    margin-bottom: 0;
}


/* --- Media Queries --- */
@media (min-width: 410px) {
    /* Footer Section */
    .footer-section--logo {
        display: block;
        width: 50%;
        margin-right: 3%;
    }
}

@media (min-width: 450px) {
    .form{
        padding: 3.5em 1em;
    }
}

@media (min-width: 700px) {
    /* Footer Section */
    .footer-section--logo,
    .footer-section--map {
        width: 100%;
    }
    .footer-section--map {
        display: block;
        margin-left: 3%;
    }
}

/* Responsive */
@media (max-width: 991px){
    section, 
    header{
        padding: 40px;
    }

    section h2{
        font-size: 4em;
    }

    header.sticky .logo{
        left: 40px;
    }

    header.sticky .banner{
        opacity: 0;
    }

    nav ul{
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    nav.active ul{
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header.sticky nav ul{
        opacity: 1;
        visibility: visible;
    }

    nav ul li a{
        font-size: 1.5em;
        padding: 5px 15px;
    }

    header.sticky .toggle{
        position: fixed;
        top: 15px;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: #fff url(https://i.postimg.cc/kMxf2FcM/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }

    header.sticky .toggle.active{
        cursor: pointer;
        background: #fff url(https://i.postimg.cc/SK3DMg3R/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    footer {
        padding: 40px;
        font-size: 1em;
    }

    footer .wrapper{
        flex-direction: column;
    }
}